@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    background: url(https://images.unsplash.com/photo-1487235829740-e0ac5a286e1c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1468&q=80) center;
    background-size: cover;
    font-family: 'Comfortaa', cursive;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid yellow;
    padding: 20px 10px;
    margin: 5vw;
    border-radius: 10px;
    box-shadow: 2px 3px 8px 5px blue;
}

.clock-container {
    border: 1px solid white;
    border-radius: 10px;
    padding: 3px 10px;
    margin: 30px 0;
}
.clock-container h2 {
    font-size: 20px;
    margin: 10px 0;
    letter-spacing: 3px;
}

.alarm-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.alarm-container h3 {
    font-size: 15px;
    padding: 5px 10px;
    margin: 5px 10px;
    background-color: rgba(0, 0, 0, 0.89);
    border-radius: 5px;
    box-shadow: 1px 1px 5px 3px white;
}

label {
	display:inline-block;
    margin: 10px 3px;
}

.button-holder {
    display: flex;
    margin: 10px;
    padding: 10px;
}

.button-holder button {
    border: 1px solid white;
    border-radius: 10px;
    font-size: 18px;
    margin: 5px 10px;
    padding: 3px 5px;
    color: white;
}

.button-holder button:hover {
    cursor: pointer;
    opacity: 90%;
}

#set-alarm {
    background-color: rgb(0, 133, 0);
}
#clear-alarm {
    background-color: rgb(187, 0, 0);
    color: white;
}
